h1   { text-transform: uppercase; }

a { text-decoration:none; }

blockquote    { margin-left: 5%; margin-right: 5%; }

p.verse       { text-indent: 0; margin-top: 1em; margin-left: 10%; margin-right: 10%; }

p             { margin-top:0; margin-bottom:0; text-indent:5%; line-height:1.3em; text-align:justify; }
p.center      { text-align:center; }
p.noindent    { text-indent:0; margin-top: 1em; }
p.linebreaks  { text-indent:0; margin-left: 2em; margin-top: 1em; }
p.textbreak   { text-indent: 0; text-align: center; margin-top: 1em; }

div.illustration { margin:2em; }
img              { display: block; margin-left: auto; margin-right: auto  }
img.size-full    { width:80mm; }
img.size-medium  { width:60mm; }
img.heading      { margin-top: 2em; width:100%; }
p.imagerow    { text-align:center; }
p.caption     { margin-top:1mm; font-size:90%; text-align:center; font-weight:bold; text-indent:0; }

